/*** Globals */

body{
background-color: #f1c40f;



}


h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 100px;
    margin:15px 0;
    color: #34495e;
    text-align: center;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    margin: 50px auto;
    text-align: center;
    background-color: #f39c12;
    color: #34495e;
    border: solid;
    padding: 10px 0;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    margin: 50px 0;
    color: #34495e;
    text-align: center;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin: 8px 0;
    line-height: 1;
    text-align: left;
}

/***button div**/
#shoot{ 
    text-align: center;
    padding-right: 70px;
}

.main-div {
    margin: 10px auto;
    text-align: center;
}

.main-div button{
    margin-left: 70px;
    padding: 25px;
}

.results {
    border: solid;
    background-color: #f39c12;
    color: #34495e;
}